# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
backend/.env
frontend/.env

# Build files
frontend/build/
backend/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

